<%- include('../partials/header') %>

<section id='show-page'>
        <div>Title:</div>
        <div><%= detail.title %></div><br>
        <div>Ingredients:</div>
        <div><%= detail.ingredients %></div><br>
        <div>Instructions:</div>
        <div><%= detail.instructions %></div><br>
        <form action="/recipes/<%= detail._id %>/edit" method="GET">
            <button class=“edit-button” type=“submit”>Edit Recipe</button>
        </form>
        <!-- //above action not working -->
        <br><br>
    <h3>Comments</h3>
    <% detail.comments.forEach(function(c) { %>
        <%= c.comment %>
        <br><br>
        <% }) %>
        <form id="add-comment-form" action="/recipes/<%= detail._id %>/comments" method="POST">
            <label>Add a Commment:</label>
            <input type="text" name="comment">
            <input type="submit" value="Add Comment">
        </form>
</section>
<br><br>

<%- include('../partials/footer')%>