<%- include('../partials/header') %>

<section id='show-page'>
    <div>Title:</div>
    <div><%= detail.title %></div><br>
    <div>Ingredients:</div>
    <div><%= detail.ingredients %></div><br>
    <div>Instructions:</div>
    <div><%= detail.instructions %></div><br>
    <div>Commments:</div>
    <div><%= detail.comments %></div><br>
<br><br>


<%- include('../partials/footer')%>